<p>test works!</p>

<button (click)="testRegister()">test register</button>
<br/>
<button (click)="testCreateRoom()">test craete room</button>
<br/>
<button (click)="testJoinRoom()">test testJoinRoom</button>
<br/>
<button (click)="testNextQuestion()">test next question</button>
<br/>
<button (click)="testPostAnswer()">test post answer</button>
<br/>
<button (click)="testGetScores()">test get scores</button>
<br/>
<button (click)="testRoomCreatedSSE()">SSE Test room created</button>
<br/>

<!-- <button ng-click="doTest()">
    Click to do test
  </button> -->