<body>
<div class="row">
  <div class="col s6 offset-s3">
    <div class="card">
      <div class="col s6">
        <img src="/assets/question_marks.png" 
        style="max-width:100%; max-height:50%; float: right; position: absolute; right: 0%; top: 1px;" class="offset-s3"/>
      </div>
      <div>
        <h1 style="padding-left: 90px; padding-top: 20px ;position: relative;">Quiz</h1>
      </div>
      <div class="card-content">
        <form #registerForm="ngForm" (ngSubmit)="onSubmit(Nick.value)">
          <div class="row">
            <div class="input-field col s9">
              <i class="material-icons prefix">account_circle</i>
              <input type="text" name="Nick" #Nick ngModel required/>
              <label>Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <button class="btn-large btn-submit" type="submit" [disabled]="!registerForm.valid">Start</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
