<body>
  <div class="card blue-grey darken-1">
    <h4 id="score-counter">Score: 11</h4>
    <div class="quiz-container">
    <div class="card-content white-text">
      <h2 id="q" style="text-align: center"> </h2>
    </div>
    <div class="card-action">
        <ul class="collection answer">
          <li id="op1" style="font-size: 50px; border: solid" (click)="opChosen($event.target.name)"></li>
          <li id="op2" style="font-size: 50px; border: solid" (click)="opChosen($event.target.name)"></li>
          <li id="op3" style="font-size: 50px; border: solid" (click)="opChosen($event.target.name)"></li>
          <li id="op4" style="font-size: 50px; border: solid" (click)="opChosen($event.target.name)"></li>
        </ul>
      </div>
    </div>
</body>
