<app-navbar></app-navbar>
<body>
  <p>Score:4</p>
<div class="quiz-container">
  
  <h2>{{question.qs}}</h2>
</div>

  <div class="answer-container">
  <input type="button" id="buttonA" value={{question.ans1}}>
  <input type="button" id="buttonB" value={{question.ans2}}>
  <input type="button" id="buttonC" value={{question.ans3}}>
  <input type="button" id="buttonD" value={{question.ans4}}>

<button class="back" onclick="document.location='Back'">Back</button>
<button class="next" onclick="document.location='Next'">Next</button>
</div>    
   
</body>
