h1
h2 {
    color: rgb(0, 0, 0);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 250%;
  }
  body {
    background-color:rgb(177, 129, 255); 
    padding: 5%;
    padding-bottom: 430px;
  }