
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightskyblue;
  padding-top: 10vh;
}

.startpage-container {
  width: 300px;
  height: auto;
  padding: 20px 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #000;
  margin: auto;
}

  .startpage-container h1 {
    text-align: center;
    margin-bottom: 10px;
    font-family: monospace;
  }

ul.quiz-content {
  list-style-type: none;
  text-align: center;
  font-family: monospace;
}

  ul.quiz-content h2 {
    margin-bottom: 10px;
    text-align: center;
  }

  ul.quiz-content li {
    width: 300px;
    margin-bottom: 10px;
    font-family: monospace;
  }

    ul.quiz-content li input {
      width: 300px;
      text-align: center;
      margin-bottom: 10px;
      padding: 8px 0px;
      border: none;
      background-color: lightgray;
      border-radius: 5px;
    }

      ul.quiz-content li input[type="button"] {
        width: 100px;
        background-color: lightseagreen;
        color: white;
        box-shadow: 0 0 10px 0 #000;
      }

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}
  /* You can add global styles to this file, and also import other style files */
  input.ng-invalid.ng-dirty

{
  border-bottom-color: #e91e63 !important;
  box-shadow: 0 1px 0 0 #e91e63 !important;
}

button.btn-submit {
  width: 100%;
}

ul.answer li:hover {
  background-color: #26a69a;
  color: #eafaf9;
  cursor: pointer;
}

ul li.selected {
  background-color: #26a69a !important;
  color: #eafaf9 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
