#scores{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
  
 #scores th{
 text-align: center;
 font-size: 30px;
    }
#scores td{
    text-align: center;
    font-size: 25px;
}
#scores tr:hover {background-color: #ddd;}